<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h1 class="text-center">Servicio De Empresa</h1>
            <div class="pt-5 row">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
             <div class="card-body">
                  <h5 class="text-center">Formateo De PC</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
             </div>
         </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <div class="card-body">
               <h5 class="text-center">Limpieza De Hardware</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                    </div>
              </div>
             <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="text-center">Revision De Software o Arhivos residuales</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>                
            </div>
             </div>